@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
.card {
  border:none;
}

.form-control {
  border: none;
}
/*============================NEW STYLES============================*/

::selection {
  color: $body-bg;
  text-shadow: .05em .03em 0 rgba($secondary,.5),-.05em .03em 0 rgba($primary,.5);
}

* {
  @include third-s-ease;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
